org: sergiycheck
app: word-calculations
service: word-calculations
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x

functions:
  filterWordsByTypeHandler:
    handler: handler.filterWordsByTypeHandler
    events:
      - http:
          cors: true
          path: /
          method: post
          request:
            schemas:
              application/json:
                schema: ${file(./src/input-words.schema.json)}
                name: InputWordsModel
                description: "Validation model for input words"

plugins:
  - serverless-plugin-typescript
